/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
.someblock {
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
  color: darkblue;
}
.someblock p {
  flex-direction: column;
  flex-wrap: wrap;
  border-block-color: black;
  padding: 2px;
}
.walk {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin-left: 13%;
  margin-bottom: 0.1rem;
  justify-content: space-between;
}
.welcome {
  display: flex;
  font-size: 3.2rem;
  margin-left: 15%;
  margin-bottom: 2rem;
  color: dodgerblue;
}
.navigate {
  display: flex;
  width: 50%;
  font-size: 2.2rem;
  text-decoration: none;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-left: 6rem;
}
.navigate a {
  text-decoration: none;
}
.experience {
  display: flex;
  font-size: 3.2rem;
  margin-left: 15%;
  margin-bottom: 2rem;
  color: dodgerblue;
}
p {
  margin-bottom: 2rem;
  justify-content: flex-start;
}
.job {
  display: flex;
  font-size: 2rem;
  margin-left: 5%;
  margin-bottom: 2rem;
  color: black;
}
.work {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  font-size: 2rem;
  margin-left: 7%;
  margin-bottom: 2rem;
  color: black;
}
.review {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  font-size: 2rem;
  margin-left: 10%;
  margin-bottom: 2rem;
  color: black;
}
.skill {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  font-size: 2rem;
  margin-left: 7%;
  margin-bottom: 2rem;
  color: black;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  font-size: 2rem;
  margin-left: 7%;
  margin-bottom: 2rem;
  color: black;
}
.eclipse {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  font-size: 2rem;
  margin-left: 7%;
  margin-bottom: 2rem;
  color: black;
}
.container {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
